/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  padding-top: 15px;
}

.form-button {
  margin: 15px 5px 0 0;
}

input.ng-invalid.ng-touched {
  border:1px solid red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-lab-margin {
  margin-top: 25px;
}

table {
  width: 100%;
}

.heroes-list {
  width: 50%;
}