<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Jméno </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="alias">
      <th mat-header-cell *matHeaderCellDef> Alias </th>
      <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ability">
      <th mat-header-cell *matHeaderCellDef> Schopnost </th>
      <td mat-cell *matCellDef="let element"> {{element.ability}} </td>
    </ng-container>
  
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Fotka </th>
      <td mat-cell *matCellDef="let element"><img src="{{element.photo}}" style="width:35px; height:35px;"></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
